* {
    padding: 0;
    margin: 0;
}

body {
    font: 16px/1.5 'Hind', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black
}

a:hover {
    color: #bd2631;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.clearfix:after, .clearfix:before {
    display: table;
    content: '';
}

.clearfix:after {
    clear: both;
}

.contacts-information {
    background: #ededed;
    padding: 14px 80px;
}

.adress-block {
    float: left;
}

.adress-block div {
    display: inline-block;
    margin-right: 15px;
}

.social-network {
    float: right;
}

.social-network ul li {
    display: inline-block;
    margin-left: 19px
}

/*____________________________________________________________________*/
.logo-block {
    width: 1400x;
    padding: 25px 80px
}

.logo {
    float: left;
}

/*____________________________________________________________________*/
.info li {
    list-style: none;
    line-height: 130%;
    padding-left: 25px;
    background: url(img/Circle.png) no-repeat left 44%;
    margin-left: 35px;
    float: right;
}

li:before {
    content: "";
    display: inline-block;
}

/*____________________________________________________________________*/
.navigation-search {
    padding: 15px 85px;
    background: #000000;
}

.navigation nav ul li {
    display: inline-block;
    border-bottom: 7px solid transparent;
}

nav li a {
    color: #ffffff;
    margin-right: 29px
}

.search {
    float: right;
    color: #ffffff;
    cursor: pointer
}

.slider-item {
    background: url("" center right no-repiet);
    height: 600px;
    position: relative;
}

.slider-content {
    background:;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}