* {
    padding: 0;
    margin: 0;
}

body {
    font: 16px/1.5 'Hind', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black
}

a:hover {
    color: #bd2631;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.clearfix:after, .clearfix:before {
    display: table;
    content: '';
}

.clearfix:after {
    clear: both;
}

.contacts-information {
    background: #ededed;
    padding: 14px 80px;
}

.adress-block {
    float: left;
}

.adress-block div {
    display: inline-block;
    margin-right: 15px;
}

.city {
    background: #000;
    color: #fff;
    border-radius: 3px;
    padding: 6px 16px;
}

.social-network {
    float: right;
}

.social-network ul li {
    display: inline-block;
    margin-left: 19px
}

/*_______________________ЛОГО________________________________*/
.logo-block {

    padding: 25px 80px;
}

.logo {
    float: left;
}

.mobile-menu {
    color: #fff;
    font-size: 24px;
    margin-top: 20px;
    display: none;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
}

/*________________________ИНФО__________________________________*/
.info {
    float: right;
    margin: 15px;
}

.info li {
    display: inline-block;
    list-style: none;
    line-height: 100%;
    padding-left: 25px;
    background: url(img/Circle.png) no-repeat left 44%;
    margin-left: 15px;
    border-right: 1px solid #e6e6e6;
    padding-right: 30px;
}

.info ul li:last-of-type {
    border-right: none;
    padding-right: 0;
    margin-right: 0;
}

li:before {
    content: "";
    display: inline-block;
}

/*________________________НАВИГАЦИЯ__________________________________*/
.nav {
    padding: 0 85px;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    right: 0;
    left: 0;
    z-index: 99;
}

.nav nav {
    float: left;
}

nav li a {
    color: #ffffff;
    padding: 20px 14px 16px;
    display: inline-block;
    position: relative;
}

nav li a:before {
    content: '';
    position: absolute;
    height: 7px;
    width: 0;
    bottom: 0;
    background: #bd2631;
    left: 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

nav li a:hover:before {
    width: 100%;
}

.current a:before {
    width: 100%;
}

.nav ul li {
    display: inline-block;
    margin-top: 15px;
}

.search {
    float: right;
    color: #fff;
    font-size: 19px;
    cursor: pointer;
    line-height: 3.5;
}

/*_________________________СЛАЙДЕР____________________________________*/
.slider {
    position: relative;
}

.slider-item {
    background: url("img/slider.png") right/cover no-repeat;
    height: 900px;
    position: relative;
}

.slider-content {
    background: rgba(0, 0, 0, 0.71);
    display: flex;
    flex-flow: column wrap;
    color: #fff;
    font-size: 20px;
    padding: 0 90px;
    height: 100%;
    justify-content: center;
}

.slider-content h2 {
    color: #bd2631;
}

.slider-content h1 {
    font-size: 40px;
}

.arrows {
    font-size: 50px;
    color: #fff;
    position: absolute;
    top: 50%;
    z-index: 99;
    cursor: pointer;
}

.arrow-left {
    left: 20px;
}

.arrow-right {
    right: 20px;
}

/*______________________________*/
.quote-block {
    background: firebrick;
    padding: 32px 85px;
}

.quote {
    float: right;
    background: #ffffff;
    color: rgba(6, 6, 6, 0.98);
    border-radius: 3px;
    padding: 14px 24px;
    margin-top: 5px;
}

.text {
    display: inline-block;
    color: #eeeeee;
    font-weight: normal;
    font-size: 1.5em;
}

/*___________PRODUCT___________*/
.product-info, .mashine, .battery {
    float: left;
    width: 25%;
    height: 450px;
}

.product-info {
    background: url("img/stock.png") right/cover no-repeat, #000;
    height: 454px;
    width: 50%;
}

.mashine div {
    width: 100%;
    height: 100%
}

.battery {
    text-align: center;
    background-color: white;
}

.battery div {
    padding-top: 50%;
}

.product-info p {
    padding: 0px 90px;
    color: white;
    color: #bd2631;
    font-size: 2em;
    padding-top: 155px;
}

.product-info p + p {
    color: white;
    font-size: 1em;
    padding-top: 25px;
}

/*___________services___________*/

.services1, .services2, .services3 {
    float: left;
    width: 25%;
    height: 450px;
}

.services1 div {
    width: 100%;
    height: 100%
}

.services3 {
    background: url("img/services3.png") right/cover no-repeat, #000;
    width: 50%;
}

.services2 {
    text-align: center;
    background-color: white;
}

.services2 div {
    padding-top: 50%
}

.services3 p {
    padding: 0px 105px;
    color: white;
    color: #bd2631;
    font-size: 2em;
    padding-top: 150px;
}

.services p + p {
    color: white;
    font-size: 1em;
    padding-top: 25px;
}

/*___________dispozal___________*/

.dispozal1, .dispozal2, .dispozal3 {
    float: left;
    height: 455px;
    width: 25%;
}

.dispozal1 {
    background: url("img/services-logo1.png") right/cover no-repeat, #000;
    width: 50%;
}

.dispozal2 {
    text-align: center;
    width: 25%;
    background-color: #bd2631;
}

.dispozal2 div { /*___________значок___________*/
    padding-top: 50%;
}

.dispozal3 div {
    height: 100%;
    width: 100%;
}

.dispozal1 p {
    padding: 0px 120px;
    color: white;
    color: #bd2631;
    font-size: 2em;
    padding-top: 155px;
}

.dispozal1 p + p {
    color: white;
    font-size: 1em;
    padding-top: 25px;
}

/*___________RESPONSIV___________*/
/*___________________________________________________1330_________*/
@media screen and (max-width: 1330px) {
    .battery, .services2, .dispozal2{min-width: 300px}
    .product-info, .services3, .dispozal, .mashine, .services1,
    .dispozal3 {
        min-width: 356px
    }

    /*
        .battery, .services1, .mashine {
            width: 50%
        }

        .services2, .services3, .dispozal1, .dispozal2, .dispozal3 {
            width: 50%;
            float: none;
        } {
        width: 100%
    }
        .product-info {
            width: 700px
        }

        .services1 {
            width: 700px
        }*/
}

@media screen and (max-width: 1021px) {
    /*_______________________________________________1021__________*/
    .adress-block {
        float: none;
        text-align: center;
    }

    .adress {
        margin-top: 10px
    }

    .social-network {
        float: none;
        text-align: center;
    }

    .contacts-information div {
        padding-bottom: 10px;

    }

    .logo {
        text-align: center;
        float: none
    }

    .info ul li {
        float: none;
    }

    .logo-block {
        padding: 25px 110px;
    }

    .slider-item {
        height: 400px;
    }

    .quote-block {
        float: none;
    }
}

@media screen and (max-width: 990px) {
    /*____________________________________________990__________*/
    .social-network div {
        float: none
    }
}

@media screen and (max-width: 915px) {
    .navigation nav {
        position: relative;
        width: 50%;
    }

    #menu {
        display: none;
        position: absolute;
        top: 56px;
        left: 0;
        right: 0;
        background: #000;
        z-index: 9999999;
    }

    #menu li {
        display: block;
    }

    #menu li a {
        padding: 15px 10px 10px;
    }

    .mobile-menu {
        display: block;
    }
}

@media screen and (max-width: 820px) {

}

@media screen and (max-width: 760px) {
    .adress-block {
        text-align: center;
    }

    .adress {
        margin-top: 10px
    }

    .social-network {
        float: none;
        text-align: center;
    }

    .contacts-information div {
        padding-bottom: 10px;

    }

    .logo {
        text-align: center;
        float: none
    }

    .info ul li {
        float: none;
    }

    .logo-block {
        padding: 25px 110px;
    }

    .slider-item {
        height: 400px;
    }

    @media screen and (max-width: 620px) {
        .info {
            border-right: none;
            float: left;
        }

        .logo-block {
            padding: 25px 0
        }
    }

}

/*
#menu {
    display: inline-block
}

nav ul, nav:active ul {
    display: none;
    position: absolute;
    padding: 20px;
    background: #000000;
    right: 10px;
    top: 65px;
    width: 35%
}

nav:hover ul {
    display: block
}

nav li {
    text-align: center;
    width: 100%;
    padding: 15px 0;
    margin: 0
}
}
