*{padding: 0;margin: 0;}

li{list-style: none;}

ul.info li{list-style: none;    background: url(img/Circle.png) no-repeat left 50%;
    padding-left: 25px;display: inline-block}

a{    text-decoration: none;}

a:hover{    color: #bd2631;    -webkit-transition: all .3s;    -moz-transition: all .3s;    -ms-transition: all .3s;
    -o-transition: all .3s;    transition: all .3s;}

body{    font: 16px/1.5 'Hind', sans-serif;}

.clearfix:after,.clearfix:before{    display: table;    content: '';}

.clearfix:after{    clear: both;}

.contacts-information{    color: #212121;    background: #ededed;    padding: 25px 80px;}

.city{    float: left; margin: -17px}

.tel{    float: left; margin: -5px 15px 65px 60px}

.adress{    float: left;display: block; margin-left: 20px;margin: -11px}

.adress-block{    float: left;}

.social-network{    float: right;margin:-15px 0px}

a.social-network{    color: black;}

.social-network ul li{display: inline-block; margin-left: 10px}

a:hover{    color: #bd2631;}

.navigation-search{    padding: 15px 85px;    background: #000000;}

.search{    float: right;    color: #ffffff;}

.city{    color: #fff;    border-radius: 3px;    padding: 5px 15px;}

a.nav{    color: #ffffff;}

a.tel{    color: black;}

.navigation nav ul li{display: inline-block; margin-right: 15px}

.logo-block{   width: 1400x; padding: 25px 80px }

.logo{float: left;margin:0px 0px 0px -320px}

.info-block{float: right}



.navigation-search{clear: both}

.search{margin:-19px 0px}
